/** home */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #FEFADE;
    font-family: 'Poppins', sans-serif;
    }


    img{
        max-width: 100%;
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    header{
        background-color: #8F2565;
        position: sticky;
        z-index: 2;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .col{
        align-items: center;
    }
    
.waves{
    margin-top: -1rem;
}
    .menu{
        font-weight: bolder;
        z-index: 2;
        }


        .menu__logo {
        width: 100px;
        margin-top: 1rem;
        float: left;
        transition: all 0.5s;
    }


    .menu__list{
        list-style: none;
        display: inline-block;

    }

    .menu ul li{ 
        display: inline-block;
        position: relative;
        margin-top: 3rem;
    }


    .menu__link{
        text-decoration: none;
        color: white;
        transition: all 1s;
        text-transform: uppercase;
        margin-left: 50px;
        text-align: left;

    }


    .menu__link:hover{
        text-decoration: underline;
        opacity: 50%;
    
    }

    #WeAreColombia{
        background-image: url(../imagenes/colombia_2.jpg);
        height: 500px;
        display: flex;
        background-size: cover;
        background-position: top;
        margin-top: -300px;
        align-items: center;
        color: white;
        padding-left: 10rem;
        font-size: 2.5rem;
        text-shadow:2px 2px 3px black;
    }

    .waves-2{
        margin-top: -9rem;
    }
    
    h2{
       color: #85BC25;
        text-align: left;
        text-transform: uppercase;
        margin: 1rem 0 1rem 0;
    }

    .flavor-container{
        margin-top: -10rem;
    }

    .grid_flavors_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,3fr));
        grid-template-rows: 3fr;
        justify-content: center;
        grid-gap: 1rem;
        
    }

    .grid_flavor:before{
        content:"¡HOLA!";
        color: white;
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        background-color: red; 
        transform: translateY(-100%);
        transition: all 1s;
        display:flex;
        align-items:center;
        justify-content: center;
      }
      
      .grid_flavor:hover:before{
        transform:translateY(0%);  
      }

    .grid_flavor{
        border-radius: 1rem;
        transition: all 1s;
    }

    .grid_flavor:hover{
        margin-top: -1rem;
    }

    .popular{
        border-radius: 1rem;
    }


    .popular_container{
        display: grid;
        grid-template-columns: auto 2fr;
        grid-template-rows: 2fr;
        justify-content: center;
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        

    }

    
        

    .slide-popular--text:hover{
        opacity: 80%;

    }

    .slide-popular--text2:hover{
        opacity: 80%;

    }


    
    
    .slide-popular--text{
        background-color: #85BC25;
        color: #FEFADE;
        padding: 5rem;
        text-decoration: none;
        text-align: center;
        transition: all 1s;
    }
        

    .slide-popular--text2{
        background-color: #8F2565;
        color: #FEFADE;
        padding: 5rem;
        text-align: center;
        transition: all 1s;
    }

   
    /** home */



 /** about us */
    .img__aboutUs{
    width: 20rem;
    border-radius: 1rem;
    }

    .container-aboutUs{
        margin-top: -5rem;
    }

    .grid_aboutUs_container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-gap: 4rem;
        align-items: center;
}

    .h1__aboutUs{
        display: inline;
    }

    /** about us end */


    /** products */

    .h2__products{
        height: 18rem;
        text-shadow:2px 2px 3px rgba(0, 0, 0, 0.322);
        color: #FEFADE;
        text-align: center;
        background-size: cover;
        border-radius: 1rem;
        font-size: 2rem;
    }

    .grid_products_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,3fr));
        margin-top: -8rem;
        margin-bottom: -5rem;
        grid-gap: 1rem;
    }

    .products--pulp{
        background-image: url(../imagenes/pulp_products.jpg);
        transition: all 1s;
    }

    .products--pulp:hover{
        margin-top: -1rem;
    }

    .products--smooties{
        background-image: url(../imagenes/smooties_products.jpg);
        transition: all 1s;
    }
    .products--smooties:hover{
        margin-top: -1rem;
    }

    .products--coffee{
        background-image: url(../imagenes/coffee_products.jpg);
        transition: all 1s;
    }

    .products--coffee:hover{
        margin-top: -1rem;
    }

    .products--babyFood{
        background-image: url(../imagenes/babyfood_products.jpg);
        transition: all 1s;
    }

    .products--babyFood:hover{
        margin-top: -1rem;
    }

    .products--tubers{
        background-image: url(../imagenes/tubers_products.jpg);
        transition: all 1s;
    }

    .products--tubers:hover{
        margin-top: -1rem;
    }

    .products--precooked{
        background-image: url(../imagenes/precooked_products.jpg);
        transition: all 1s;
    }

    .products--precooked:hover{
        margin-top: -1rem;
    }

/** products end */


/**stores*/

.h2__stores{
    margin-top: -7rem;
}

.grid_stores_container{
    margin-bottom: -5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,2fr));
    grid-column-gap: 5rem;

}

/**stores end*/


/**contact*/

legend{
    font-weight: 600;
    background-color: #FEFADE;
    padding: 0.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
}

fieldset{
padding: 3rem;
background-color: #85bc2571;
border-radius: 1rem;
width: 20rem;
}

.submit{
    background-color: #8F2565;
    padding: 0.5rem;
    color: #FEFADE;
    text-transform: uppercase;
}

.container-contact{
    margin-top: -7rem;
    margin-bottom: -5rem;
}

/**contact end*/


    /** footer all*/
    footer{
        background-color: #8F2565;
        margin-top: -2rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        color: #FEFADE;
    }
    /** footer all end*/

    /*!media queries*/

    @media all and (max-width:1000px){

        /*header*/
        
        .menu__logo {
            float: center;
        }
        .menu__list{
            display: none;
        }

        .container-header{
            width: 6rem;

        }

        /*header end*/

        /*home*/
        
        .popular_container{
            display: grid;
            grid-template-columns: auto;
            text-align: center;
            grid-row-gap: 0;
        }
        

        #WeAreColombia{
            margin-top: -100px;
            padding-left: 2rem;
            text-align: center
        }

        .waves{
            margin-top: 0;
        }

        .waves-2{
        margin-top: -20rem;
        }
        .flavor-container{
            margin-top: -3rem;
        }

        /*home end*/

        /*aboutUs*/

        .grid_aboutUs_container{
            display: grid;
            grid-template-columns: auto;
            grid-gap: 1rem;
            margin-bottom: 2rem;
            
        }

        .container-aboutUs{
            margin-top: 0;
        }

        /*aboutUs end*/

        /*products*/

        .grid_products_container{
            grid-template-columns: auto;
            margin-top: 0;
            margin-bottom: 0;
        }

        .h2__stores{
            margin-top: -2rem;
            text-align: center;
        }
        /*products end*/


        /*stores*/


        .grid_stores_container{
            grid-template-columns: auto;
            grid-gap: 1rem;
            margin-bottom: 2rem;
            margin-top: 0;
            justify-content: center;
        
        }

        /*stores end*/

        /*contact*/

        .container-contact{
            margin-top: -3rem;
            margin-bottom: 2rem;
        }

        /*footer*/

        .waves-footer{
            margin-top: -3rem;

        }

        footer{
            margin-top: -1rem;
        }

        .row-footer{
            display: block;
            text-align: center;
            
        }

        /*footer end*/

    }