$font-family-base: 'Poppins', sans-serif;

$color-purple: #8F2565;
$cream: #FEFADE;
$primary: #8F2565;

$colors:(
    "color-purple": #8F2565,
    "color-cream": #FEFADE,
    "color-green": #85BC25,
);