@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,500;1,700&family=Roboto&display=swap');

@import "variables";
@import "footer";
@import "mediaqueries";
@import "mixin";
@import "products";
@import "aboutUs";

@import "../node_modules/bootstrap/scss/bootstrap";


body{
    background-color:#FEFADE;
}

h3{
    font-weight: 500;
}

.newproducts-purple{
@extend h3;
color: map-get($colors, color-purple);
}

.newproducts-green{
    @extend h3;
    color: map-get($colors, color-green);
    }



.carousel-majana{
    margin-top: -270px;
    z-index: -3;
}

