@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,500;1,700&family=Roboto&display=swap');

@import "variables";
@import "footer";
@import "mixin";
@import "products";
@import "aboutUs";
@import "stores";

@import "../node_modules/bootstrap/scss/bootstrap";


/*============================================
MEDIA QUERIES
==============================================*/
@media (max-width: 820px){
    .h2-wrap{
        width: 100%;
       }
}

@media (max-width: 576px){
    .col{
        flex: none !important;

        .img-aboutus{
           margin: 0; 
        }

       .h2-wrap{
        width: 100%;
       }

    }
}